@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Quartz'; 
  src: url('../../public/quartz_becker.woff');
} 

* {
  user-select: none;
  /* image-select: none; */
}
.no-drag {
  user-select: none;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}



@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.content {
    min-height: 90vh; /* Adjust as needed */
    padding: 20px;
    background: #f0f0f0; /* Example background */
}

.glassmorphic-footer {
    position: absolute;
    width: 100%;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    color: #ffffff;
    bottom: 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.footer-content p {
    margin: 5px 0;
}

.footer-content a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
}

.footer-content a:hover {
    text-decoration: underline;
}

.vertical-line {
  width: 2px; /* Thickness of the vertical line */
  height: 100%; /* Full height of the parent element */
  background: linear-gradient(to bottom, #f00, #0f0, #00f); /* Gradient color */
  margin: 0 20px; /* Space around the line */
}